@inherits LayoutComponentBase

<div class="page">
@*     <button class="btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu">
        Menu
    </button> *@
    <main>    
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
